In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv("census_income_dataset.csv")

In [3]:
data = data.drop(["fnlwgt","education","relationship", "sex", "race"], axis=1)

In [4]:
data.isnull().sum()

age                  0
workclass         1836
education-num        0
marital-status       0
occupation        1843
capital-gains        0
capital-loss         0
hours-per-week       0
native-country     583
target               0
dtype: int64

In [5]:
enc = LabelEncoder()

features_to_convert = ["workclass","marital-status","occupation","native-country","target"]
for i in features_to_convert:
    data[i] = enc.fit_transform(data[i].astype('str'))
data.head()

,age,workclass,education-num,marital-status,occupation,capital-gains,capital-loss,hours-per-week,native-country,target
0,39,6,13,4,0,2174,0,40,38,0
1,50,5,13,2,3,0,0,13,38,0
2,38,3,9,0,5,0,0,40,38,0
3,53,3,7,2,5,0,0,40,38,0
4,28,3,13,2,9,0,0,40,4,0

In [6]:
data.to_csv("census_income_dataset_preprocessed.csv", index=False)